#blogArea{
    margin-left: 15px;
    margin-right: 15px;
}

#blogTitleArea{
    margin: 0px;
}

.portfol-panelTitleText{
    margin: 0px;
}

#blogBodyArea{
    margin: 5px;
}
.portfol-panelBodyText{
    white-space: pre-wrap;
}
