<!DOCTYPE html>

<html lang="en">
    {% load static from static %}
    <head>
        <!--- Initialization - Set initial width to the browser's width --->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title> Puzzlebot Corner - Brandon Tan </title>

        <!-- Get static bootstrap and jquery files from the static url -->
        {% include 'frameworks.html' %}

        <!-- Load custom stylesheets and javascript -->
        <link rel="stylesheet" href="{% static 'css/mainStyle.css' %}">
        <link rel="stylesheet" href="{% static 'css/siteHeadStyle.css' %}">
        <link rel="stylesheet" href="{% static 'css/embeddedProjStyle.css' %}">
    </head>

    <body>
        {% include 'siteHead.html' %}
        <script>
            document.getElementById("projectButton").className = "dropdown active";
        </script>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row" id="embed_directoryTitle">
                    <h2>Site Directory - Embedded applications</h2>
                    <p>On this page are links to applications I have developed which are embedded into the site itself. Follow the links to view and use the apps.</p>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

    </body>

</html>
