<!DOCTYPE html>

<html lang="en">
    {% load static from static %}
    <head>
        <!--- Initialization - Set initial width to the browser's width --->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title> Puzzlebot Corner - Brandon Tan </title>

        <!-- Get static bootstrap and jquery files from the static url -->
        {% include 'frameworks.html' %}

        <!-- Load custom stylesheets and javascript -->
        <link rel="stylesheet" href="{% static 'css/mainStyle.css' %}">
        <link rel="stylesheet" href="{% static 'css/siteHeadStyle.css' %}">
    </head>

    <body>
        {% include 'siteHead.html' %}
        <script>
            document.getElementById("homeButton").className = "active";
        </script>

        <div class="container-fluid" id="blogArea">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-7">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="blogTitleBox">
                            <h3 class="portfol-panelTitleText" id="blogTitle">What's New?</h3>
                        </div>
                        <div class="panel-body" id="blogBodyBox">
                            <p class="portfol-panelBodyText" id="blogBody">{{ frontPageBody }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="sideBlock1-titleBox">
                            <h4 class="portfol-panelTitleText" id="sideBlock1-title">Read this: XKCD by Randall Monroe</h3>
                        </div>
                        <div class="panel-body" id="sideBlock1-bodyBox">
                            <p>XKCD is a humorous webcomic featuring slice-of-life situations from various fields of science and engineering, written by a man who seems to know way too much. Give it a read!</p>
                            <h5 class="portfol-panelBodyText" id="sideBlock1-body">Latest XKCD: #{{ xkcdComicNum }}: <a href="https://xkcd.com">"{{ xkcdTitle }}"</a></h5>

                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </body>

</html>
